<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <%- include("../partials/navbar") %>
    <div class="container">
        <div class="jumbotron">
            <h1>User Edit</h1>
            <form method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="<%= user.name %>">
                </div>
                <div class="form-group">
                    <label for="tanggalLahir">Date of Birth</label>
                    <input type="date" name="tanggalLahir" id="tanggalLahir" class="form-control" value="<%= user.tanggalLahir%>">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" name="address" id="address" class="form-control" value="<%= user.address %>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" value="<%= user.email %>">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="number" name="phone" id="phone" class="form-control" value="<%= user.phone %>">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="descripton" id="description" rows="5" class="form-control"><%= user.descripton %></textarea>
                </div>
                <div class="form-group">
                    <label for="exp">Experience</label>
                    <textarea name="exp" id="exp" rows="5" class="form-control"><%= user.exp %></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>